body {
  background: blanchedalmond;
}

.container {
  border: 25px solid black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  background-color: red;
  flex-grow: 2;
  border: 25px solid black;
}

.b {
  background-color: green;
  flex-grow: 5;
  border: 25px solid black;
}

.c {
  background-color: blue;
  flex-grow: 2;
  border: 25px solid black;
}