body {
  background: blanchedalmond;
}

.container {
  border: 25px solid black;
  display: flex;
}

.a {
  background-color: red;
  min-height: 200px;
  min-width: 200px;
  
}

.b {
  background-color: green;
  min-height: 200px;
  min-width: 200px;
  

}

.c {
  background-color: blue;
  min-height: 200px;
  min-width: 200px;
}
  