body {
  background: blanchedalmond;
}
.a{
  background-color: red;
  min-height:20px;
  max-width: 20px;
}
.b{
  background-color: green;
  min-height:20px;
  max-width: 20px;
}
.c{
  background-color: blue;
  min-height:20px;
  max-width: 20px;
}